{% extends 'blog/base.html' %}

{% block content %}
   {% for post in posts %}
       <div class="post">
           <div class="date">
               {{ post.published_date }}
           </div>
           <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
           <p>{{ post.text|linebreaksbr }}</p><span style="background-color:yellow">Watson Says:</span>
        <p>Anger : {{ post.angerScore }} |
        Disgust : {{ post.disgustScore }} |
        Fear : {{ post.fearScore }} |
        Joy : {{ post.joyScore }} |
        Sad : {{ post.sadScore }}</p>

           <p><h5>Translation:</h5> {{ post.translation}} |
           Word: {{ post.wordCount }} |
           Character: {{ post.letterCount }}</p>
		   
		   <p> <h4> Personal Insight </h4> </p>
       <p>Word Count: {{ post.wordcount }} |
           Personal Percentile: {{ post.percentile }} |
           Personal Raw Score: {{ post.rawscore }}
       </p>

           <p><h4> Natural Language </h4></p>
       <p>Text Unit: {{ post.text1 }} |
           Text Characters: {{ post.text2 }} |
           Features: {{ post.features }} |
           Keywords: {{ post.keywords }} |
           Negative: {{ post.negative }} |
           Sad: {{ post.sad }} |
           Joy: {{ post.joy }} |
           Fear: {{ post.fear }}
           Disgust: {{ post.disgust }} |
           Anger: {{ post.anger }}
       </p>

       </div>
   {% endfor %}
{% endblock %}
