{% extends 'portfolio/base.html' %}
{% load staticfiles %}
{% load mathfilters %}
{% block content %}
<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $("#btnPrint").live("click", function () {
            var divContents = $("#dvContainer").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>Customer Portfolio</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        });
    </script>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Eagle Financial Services</title>


</head>

<body>

    <form id="form1">
    <div id="dvContainer">


    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">Welcome!</div>
                    <div class="panel-body">
                    Eagle Financial Services, your Midwest Financial Services Partner.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="w3-container w3-blue-grey w3-cell">
      <p>Click the button to save PDF </p>
    </div>

    <!--<div class="w3-container w3-cell">-->
            <!--<select name='currencies'>-->
               <!--<option value='AED' title='United Arab Emirates Dirham'>AED</option>-->
               <!--<option value='AUD' title='Australian Dollar'>AUD</option>-->
               <!--<option value='BTC' title='Bitcoin'>BTC</option>-->
               <!--<option value='CAD' title='Canadian Dollar'>CAD</option>-->
               <!--<option value='CNY' title='Chinese Yuan'>CNY</option>-->
               <!--<option value='EUR' title='Euro'>EUR</option>-->
               <!--<option value='GBP' title='British Pound Sterling'>GBP</option>-->
               <!--<option value='HKD' title='Hong Kong Dollar'>HKD</option>-->
               <!--<option value='INR' title='Indian Rupee'>INR</option>-->
               <!--<option value='MXN' title='Mexican Peso'>MXN</option>-->
               <!--<option value='NZD' title='New Zealand Dollar'>NZD</option>-->
               <!--<option value='SGD' title='Singapore Dollar'>SGD</option>-->
               <!--<option value='XAG' title='Silver (troy ounce)'>XAG</option>-->
               <!--<option value='XAU' title='Gold (troy ounce)'>XAU</option>-->
            <!--</select>-->
    <!--</div>-->

	<div class="w3-container w3-white w3-cell">
	<input type="button" value="Save CustomerPortfolio to PDF" id="btnPrint" />
	</div>
    </div>

    <div class="row">
        <div class="_head">
                <h2 style="padding-left: 15Px">Customer Portfolio</h2>
        </div>
    </div>



    <div class="row">
        <h2 style="padding-left: 15Px">Stocks Information</h2>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">

                <th>Cust ID</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Initial Stock Price</th>
            <th>Initial Stock Value</th>
            <th>Purchase Date</th>

            </tr>
            </thead>
            <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.customer }}</td>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.name }}</td>
            <td>{{ stock.shares }}</td>
            <td>{{ stock.purchase_price }}</td>
            <td>{{ stock.initial_stock_value}}</td>
            <td>{{ stock.purchase_date }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
            <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Total of Initial Stocks</th>
            <th>Total of current Stocks</th>
            <th>Results</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{sum_of_initial_stock_value}}</td>
                <td>{{sum_current_stocks_value}}</td>
                <td>{{sum_current_stocks_value|sub:sum_of_initial_stock_value}}</td>


            </tr>
        </tbody>


    </table>


    </div>

	<div class="row">
	<h2 style="padding-left: 15Px">Investments Information</h2>
	</div>
	<div>
	<table class="table table-striped table-bordered table-hover">
	<thead>
	<tr class="bg-info">
	<th>Cust ID</th>
	<th>Category</th>
	<th>Description</th>
	<th>Acquired Value</th>
	<th>Acquired Date</th>
	<th>Recent Value</th>
	<th>Recent Date</th>
	<th>Results</th>
	</tr>
	</thead>
	<tbody>
	{% for investment in investments %}
	<tr>
	<td>{{ investment.customer }}</td>
	<td>{{ investment.category }}</td>
	<td>{{ investment.description }}</td>
	<td>{{ investment.acquired_value }}</td>
	<td>{{ investment.acquired_date }}</td>
	<td>{{ investment.recent_value }}</td>
	<td>{{ investment.recent_date }}</td>
	<td>{{investment.results_by_investment}}</td>
	</tr>
	{% endfor %}
	</thead>
	</tbody>
	</table>
	</div>

		<div>
	<table class="table table-striped table-bordered table-hover">
	<thead>
	<tr class="bg-info">
	<th>Total of Initial investments</th>
	<th>Total of Current investments</th>
	<th>Results</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	<td>{{ sum_acquired_value.acquired_value__sum }}</td>
	<td>{{ sum_recent_value.recent_value__sum }}</td>
	<td>{{sum_recent_value.recent_value__sum |sub:sum_acquired_value.acquired_value__sum}}</td>
	</tr>
	</tbody>
	</table>


	</div>

		<div class="row">
	<h2 style="padding-left: 15Px">Mutual Funds Information</h2>
	</div>

	<div>
	<table class="table table-striped table-bordered table-hover">
	<thead>
	<tr class="bg-info">
	<th>Cust ID</th>
	<th>Category</th>
	<th>Purchased Value</th>
	<th>Recent Value</th>
	<th>Recent Date</th>
	</tr>
	</thead>

	<tbody>
	<thead>
	{% for mutualfund in mutualfunds %}
	<tr>
	<td>{{ mutualfund.customer }}</td>
	<td>{{ mutualfund.category }}</td>
	<td>{{ mutualfund.purchased_value }}</td>
	<td>{{ mutualfund.recent_value }}</td>
	<td>{{ mutualfund.recent_date }}</td>
	</tr>
	{% endfor %}
	</thead>
	</tbody>
	</table>
	</div>

</div>

        </form>


</body>
</html>
{% endblock %}