{% extends 'worldmap/base.html' %}
{% load staticfiles %}
{% block content %}
    <h1 id="title">
        Find your vacation location!
    </h1>
            <div id="description">
                <p>
                    You are looking for your next trip destination? Then you have found the perfect site for it!
                    Take a look at the map and choose ya location you like. We will provide some information and photos
                    of the surroundings. We will also search for possible flights and living!<br>
                    If you like to hear something about that place from first hand, try our chat function and get in touch
                    with people who are there right now! You can even chat in your own language, we will translate for you into english!
                    <br> You have only a limited number of times you go on vacation, so get the best expereience!
                </p>
            </div>
    <div id="worldmap">
        <div id="map">

            </div>
    </div>

{% endblock %}